* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF9F2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.containerft {
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.flor {
  height: 20vh;
  top: 60vh;
  position: absolute;
  right: 50vw;
  z-index: -1;
  transform: rotate(20deg);
}

.borb {
  height: 20vh;
  top: 11vh;
  position: absolute;
  left: 54vw;
  z-index: -1;
  transform: rotate(40deg);
}

#borda {
  position: absolute;
  margin: 0;
  width: 65vh;
  height: 68vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.imagem_karleeve {
  position: absolute;
  margin: auto;
  width: 80vh;
  height: 80vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

h1.K {
  top: 20vh;
  position: absolute;
  right: 500px;
  font-size: 5rem;
  font-family: 'ALTA', sans-serif;
}

h1.E {
  top: 65vh;
  position: absolute;
  left: 500px;
  font-size: 5rem;
  font-family: 'ALTA', sans-serif;
}

h1 {
  font-size: 50px;
  color: #7c0000;
  text-align: center;
  z-index: 1;
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

body {
  opacity: 0;
  visibility: hidden;
  font-size: 100%;
}

body.fade-in {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {



/*   .imagem_karleeve {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 50vh;
  }

  .flor {
    height: 18vh;
    top: 55vh;
    right: 50vw;
  }

  .borb {
    height: 15vh;
    top: 16vh;
    left: 55vw;
  }

  #borda {
    width: 53vh;
    height: 57vh;
    object-fit: cover;
    margin: auto;
  } */

  .E,
  .K {
    display: none;
  }
}

/* @media screen and (max-width: 460px) {
  .borb {
    height: 15vh;
    top: 15vh;
    margin: auto;
  }
} */

@media screen and (max-width: 450px) {
  .imagem_karleeve{
    width: 100vw;
    height: 65vh;

  }
} 
