* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #FFF9F2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.containerft {
  height: 30vh;
  width: 100vw;
}


.imagem_karleeve {
  position: absolute;
  margin: auto;
/*   width: 80%; */
  width: 70vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

/* .titulo1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
} */

h1.K {
/*   top: 150px; */
  top: 25vh;
  right: 85vh;
  transform: translateX(0vh); 
  position: absolute;
  font-size: 12vh;
  font-family: 'ALTA', sans-serif;
}

h1.E {
/*   top: 400px; */
  top: 65vh;
  left: 85vh; 
  transform: translateX(0vh); 
  position: absolute;
  font-size: 12vh;
  font-family: 'ALTA', sans-serif;
}


h1 {
  color: #7c0000;
  text-align: center;
  left: 0;
  right: 0;
}

body {
  opacity: 0;
  visibility: hidden;
  font-size: 100%;
}

body.fade-in {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.fotofaixa {
  display: block;
  background: linear-gradient(to top, transparent 0%, rgba(0, 112, 34, 0.644) 100%);
  width: 100vw;
  padding: 5px;
  margin-top: -50px;
/*   display:; */
}

.fotofaixa1 {
  display: block;
  background: linear-gradient(to top, transparent 0%, rgba(0, 112, 34, 0.644) 100%);
  width: 100vw;
  padding: 5px;
  margin-top: 25px;
/*   display:; */
}



.namefoto{
    text-align: center;
    font-family: 'Tan Twinkle', sans-serif;
}

h4{
  text-align: center;
  font-family: 'Tan Twinkle', sans-serif;
  font-size: 20px;
}

.sobre{
  text-align: justify;

}

.sobre1{
  margin-top: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  margin-bottom: 5vh;
}

/* GALERIA FOTOS */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  margin-top: 50px;
  max-width: 700px; /* Defina um valor máximo para a largura */
  max-height: 600px; /* Defina um valor máximo para a largura */
/*   background-color: #7c0000; */
  padding: 20px; /* Adicione um espaçamento interno */
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
  margin-bottom: 40vh;
}

.thumbnails {
  display: flex; /* Use flexbox para alinhar as miniaturas */
  justify-content: center;
  align-items: center;
/*   background-color: #e63946; */
  margin-top: -20px;
  padding: 10px 0;
  flex-wrap: nowrap;
}

.thumbnails img {
  width: 50px; /* Ajuste a largura das miniaturas */
  height: auto;
  margin: 0 5px; /* Adicione um espaçamento entre as miniaturas */
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

.thumbnails img.active {
  opacity: 2;
  transition: all .6s ease-in-out;
  transform: scale(1) translatey(-8%); /* Efeito de flutuação para a esquerda */
  outline: 2px solid #00490a;
}

.master {
  top: 30px;
  position: relative;
/*   background-color: aqua; */
  width: 100%;
  padding-bottom: 50%; /* Proporção para manter a altura */
  overflow: hidden; /* Oculta o overflow */
  
}

.master img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta o dimensionamento da imagem */
}

.master .fa-chevron-left,
.master .fa-chevron-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 350px;
  width: 50px;
  color: #00ff2a;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, rgb(0, 53, 16) 100%);
  opacity: 0.8;
  cursor: pointer;
  border: none;
}

.master .fa-chevron-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, rgb(0, 53, 16) 100%);
}

.master .fa-chevron-left:hover{
  opacity: 1;
  background: linear-gradient(to left, transparent 0%, rgb(0, 153, 46) 100%);
}
.master .fa-chevron-right:hover {
  opacity: 1;
  background: linear-gradient(to right, transparent 0%, rgb(0, 153, 46) 100%);
}

@media (max-width: 600px) {
/*   .thumbnails {
    flex-direction: column;
    align-items: center;
  }
 */
  .thumbnails img {
    margin: 20px 0;
  }

  .fotofaixa {
    background: linear-gradient(to top, transparent 0%, rgba(0, 112, 34, 0.644) 100%);
    width: 100vw;
    padding: 5px;
/*     margin-top: -50px; */
  /*   display:; */
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-top: -50px;
    max-width: 700px; /* Defina um valor máximo para a largura */
    max-height: 600px; /* Defina um valor máximo para a largura */
  /*   background-color: #7c0000; */
    padding: 20px; /* Adicione um espaçamento interno */
    box-sizing: border-box; /* Inclui padding no cálculo da largura */
  }
}

@media screen and (max-width: 768px) {

  .E,
  .K {
    display: none;
  }
  .master .fa-chevron-left,
  .master .fa-chevron-right {
    line-height: 150px;
  }
}


@media screen and (max-width: 450px) {

  .imagem_karleeve {
    width: 100vw;
    height: 100vw;
    margin-top: -50px;
  }
}

@media screen and (max-width: 480px) {
  .fotofaixa {
    background: linear-gradient(to top, transparent 0%, rgba(0, 112, 34, 0.644) 100%);
    width: 100vw;
    padding: 5px;
/*     margin-top: -90px; */
  /*   display:; */
  }

  .container {
    margin-top: 110px;
    max-width: 700px; /* Defina um valor máximo para a largura */
    max-height: 600px; /* Defina um valor máximo para a largura */
    margin-bottom: 40vh;
  }

  .master{
    background-image: opacity(to top);
  }
}