* {
	margin: 0;
	padding: 0;
	box-sizing:border-box ;
  }

body {
  background-color: #FFF9F2;
    }

h4{
  margin-top: 50px;
  font-family: 'Tan Twinkle', sans-serif;
}

.mapdiv{
  text-align: center;
}

body{
  opacity: 0;
  visibility: hidden;
  overflow-x:hidden; 
}

/* Configuração da transição */
body.fade-in {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.map {
  display:flex;
  top: 30px;
  margin: auto;
  position:relative;
  width: 18%;
/*   height: 100px; */
  justify-content: center;
  text-align: center;
  justify-items: center;
  flex: 1;
}

.img{
  display:grid;
  top: -5px;
  margin: auto;
  position:relative;
  width: 230%;
  height: 100%;
  justify-content: center;
  text-align: center;
  justify-items: center;
  border-radius: 5%;
  border-style: groove;
  color: #A4B792;
  flex: 1;
  cursor: pointer;
}

.img:hover,
.map:hover{
  color: #5C6244;

}

@font-face {
    font-family: 'Tan Twinkle';
    src: url('caminho/para/o-arquivo-da-fonte.woff2') format('woff2'),
         url('caminho/para/o-arquivo-da-fonte.woff') format('woff');
  }

.text {
  margin-top: 120px;
  text-align: center ;
  font-size: 20px;
  font-family: 'Tan Twinkle', sans-serif;
  color: rgb(0, 80, 13);
}

.fotofaixa {
  background: linear-gradient(to top, transparent 0%, #5C6244 100%);
  width: 100vw;
  padding: 5px;
  margin-top: 50PX;
}

.namefoto{
    text-align: center;
    font-family: 'Tan Twinkle', sans-serif;
}

@media screen and (max-width: 768px) {
  .map {
    height: 30vh;
    width: 90%;
    display: flex;
  }

  .img {
    width: 100%;
    height: 100%;
    display: flex;
    top: 10px;
  }

  .rua{
    margin-top: 80px;
    margin-bottom: 10vh;
  }

  .master{
    width: 100%;
    display: flex;

  }
}

/* slide */

h1 {
  text-align: center;
  margin: 1em 0;
  font-family: 'Tan Twinkle', sans-serif;
}

/* GALERIA FOTOS */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  margin-top: -50px;
  max-width: 700px; /* Defina um valor máximo para a largura */
  max-height: 600px; /* Defina um valor máximo para a largura */
/*   background-color: #7c0000; */
  padding: 20px; /* Adicione um espaçamento interno */
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
}

.thumbnails {
  display: flex; /* Use flexbox para alinhar as miniaturas */
  justify-content: center;
  align-items: center;
/*   background-color: #e63946; */
  margin-top: -20px;
  padding: 10px 0;
  flex-wrap: nowrap;
  margin-bottom: 8vh;
}

.thumbnails img {
  width: 50px; /* Ajuste a largura das miniaturas */
  height: auto;
  margin: 0 5px; /* Adicione um espaçamento entre as miniaturas */
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

.thumbnails img.active {
  opacity: 2;
  transition: all .6s ease-in-out;
  transform: scale(1) translatey(-8%); /* Efeito de flutuação para a esquerda */
  outline: 2px solid #00490a;
}

.master {
  top: 30px;
  position: relative;
/*   background-color: aqua; */
  width: 100%;
  padding-bottom: 50%; /* Proporção para manter a altura */
  overflow: hidden; /* Oculta o overflow */
  
}

.master img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta o dimensionamento da imagem */
}

.master .fa-chevron-left,
.master .fa-chevron-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 50px;
  color: #b4ff6e;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, #5C6244 100%);
  opacity: 0.8;
  cursor: pointer;
  border: none;
}

.master .fa-chevron-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, #5C6244 100%);
}

.master .fa-chevron-left:hover{
  opacity: 1;
  background: linear-gradient(to left, transparent 0%, #A4B792 100%);
}
.master .fa-chevron-right:hover {
  opacity: 1;
  background: linear-gradient(to right, transparent 0%, #A4B792 100%);
}

@media (max-width: 600px) {
  .thumbnails img {
    margin: 20px 0;
  }

}
