/*MENU GERAL*/
.menu-horizontal { 
    position: fixed;
    z-index: 5;
    float: none;
    display: inline-block; 
    width:100%; 
    background-color:#fff; 
    border-radius:5px; 
    border-top: 2px #ff9696 solid;
    border-left: 1px #eaeaea solid;
    border-right: 1px #eaeaea solid;
    border-bottom: 1px #eaeaea solid;
    box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
    -webkit-box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
    -moz-box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
    text-align: center;
    position:fixed;
    top: 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}


#menu {
    z-index: 2;
    width:100%; 
    position:fixed;
    top: 0%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
/*MENU GERAL*/

ul,li {
  float: none;
  display:flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;  
}

li {
  position: relative;
  width:100%;
  display:flow-root;
  overflow:hidden!important;
  border-bottom:1px #eaeaea solid;
  text-align: center; 
  justify-content: center;
  align-content: center;
}

li.right { float:right; }

li.right i{ 
     
    z-index:2;
    position:relative; 
    color:#ff9696;
    transition: 0.3s;
    
}

li:hover i{ 
      
    color:#ffffff;
}

.lineTop1 span { 
    display: flex;
    z-index:2; 
    position:relative; 
    color:#ff9696;
    font-weight: bold;
    transition: 0.3s;
    font-size: 15px;
    margin: 0 20%; 
    justify-content: center;
    align-items: center;
}

.lineTop2 span { 
  display: flex;
  z-index:2; 
  position:relative; 
  color:#ff9696;
  font-weight: bold;
  transition: 0.3s;
  font-size: 15px;
  margin: 0 20%; 
  justify-content: center;
  align-items: center;
}


li:hover span{ 

    color:#ffffff; 
    transition: 0.3s;
    
}


.lineTop1 {
  display:flex;
  padding: 0 50px;
  line-height:50px;
  text-decoration: none;
  z-index:2;
  transition: background-color 2s ease;
  position:relative;
  justify-content: center;
  align-items: center;
  width:auto;
  height:auto;
}

.lineTop2 {
  display:flex;
  padding: 0 50px;
  line-height: 50px;
  text-decoration: none;
  z-index:2;
  transition: background-color 2s ease;
  position:relative;
  justify-content: center;
  align-items: center;
  width:auto;
  height:auto;
}


.lineTop1:after {
    
    content: '';
    position: absolute;
    top:0;
    left:0;
    display: flex;
    height:100%;
    width:0;
    text-align: center;
    background-color: #ff9696;
    transition: 0.3s;
    
  }

.lineTop2:after {
    
  content: '';
  position: absolute;
  top:0;
  left:0;
  display: flex;
  height:100%;
  width:0;
  text-align: center;
  background-color: #ff9696;
  transition: 0.3s;
  
}


li:hover .lineTop1:after {
  
  width:100%;
  background-color:#ff9696; 

}
li:hover .lineTop2:after {
  
  width:100%;
  background-color:#ff9696; 

}


/* PAG */
@media screen and (max-width: 767px) {
.lineTop2,
.lineTop1 {
  display: none;
}
.menu-horizontal{
  padding: 35px;
}

li {
  display: none;
}

}
/* PAG */
 /*768PX BREAKPOINT*/
@media (min-width:48em){
.menu-horizontal { 
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(238,238,238,1) 7%, rgba(255,255,255,1) 50%);
}
li { 
  width:50%; 
  border-bottom:none; 
}
li.right .textRs { display:flex; justify-content: center;}

.lineTop1:after {

    content: '';
    position: absolute;
    top:0;
    left:0;
    display: block;
    height:0;
    width:100%;
    text-align: center;
    background-color: #ff9696;
    transition: 0.3s;
    
}

.lineTop2:after {
  
  content: '';
  position: absolute;
  top:0;
  left:0;
  display: block;
  height:0;
  width:100%;
  text-align: center;
  background-color: #ff9696;
  transition: 0.3s;

}


li:focus .lineTop1:after,
li:focus .lineTop2:after,
li:hover .lineTop1:after,
li:hover .lineTop2:after {
  height:100%;
  background-color:#ff9696; 
}
}
 /* seleção */

 .menu-horizontal li a.selected{
  background-color: #850063;
 }


 /* LOGO */
.ci {
  border-top: 20px #ff9696 solid;
  z-index: 8;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
  -webkit-box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
  -moz-box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
  border-top-style: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.logo1 {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr {
  border-top: 2px solid #ffffff00;
  margin: 0 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SANDUBA */

@media screen and (min-width: 767px) {
  .menuE,
  .menuK{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

  .menuE,
  .menuK{
    top: 10px;
    color: #7c0000;
  }

  .menuE {
    position:absolute;
    left: 5px;
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
    background-color: #ffffff;
  }
  
  .menuK {
    position: absolute;
    right: 15px; 
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
    background-color: #ffffff;
    text-align: end;
  }

/*   #menu {
    display:grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11%;
  } */
  

  nav.navicon {
    position: fixed;
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.87);
    -webkit-clip-path: circle(20px at 30px 30px);
    clip-path: circle(60px at 83px 40px);
    -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    z-index: 100;
    display: grid;
    left:50%;
    transform: translateX(-50%);
    top: 0;
    cursor: pointer;
  }

  nav.navicon:hover {
    -webkit-transition-timing-function: linear;
    transition-timing-function:linear;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-clip-path: circle(390px at 225px 24px);
    clip-path: circle(500px at 100px 80px);
  }

  a.nava {
    height: 50px;
    width: 100%;
    display: grid;
    line-height: 50px;
    padding: 0 8px;
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(255, 132, 218);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #ff28ad;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
  }

/*   @keyframes hover nav5 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  } */

  a.nava:hover, a.nava:focus { 
    background: #ff82e0; 
    border: 1px solid #850063; 
    color: #eaeaea; 
    border-radius: 10px;
    z-index: 20;
  }


  a.navicon1::selection { 
    background: #ff28ad; 
    border-radius: 10px;
    z-index: 20;
    cursor: pointer;
  }
/*   
  a.nava:active, a.nava:focus {
    background: #ff28ad;
    border-radius: 10px;
    z-index: 20;
  } */

  .navicon1{
    padding: 63px 55px;
    cursor: pointer;
/*     background-color: #bd0707b4; */
    z-index: 10;
    border-radius: 50%;
    margin-top: -10px;
  }



/*   .navicon1 div:before,
  .navicon1 div:after {
    display: block;
    content: "";
    margin-top: 50px;
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 0.87);
    position: absolute;
  } */

/*   .navicon1 div:before { 
    top: -7px; 
  }

  .navicon1 div:after { 
    top: 10px; 
  } */

  /* @keyframes grow {
    0% {
      transform: scale(0.1);
      border-width: 2px;
    }
    10% {
      transform: scale(0.2);
      border-width: 2px;
    }
    20% {
      transform: scale(0.3);
      border-width: 2px;
    }
    30% {
      transform: scale(0.4);
      border-width: 2px;
    }
    40% {
      transform: scale(0.5);
      border-width: 2px;
    }
    50% {
      transform: scale(0.6);
      border-width: 2px;
    }
    60% {
      transform: scale(0.7);
      border-width: 2px;
    }
    70% {
      transform: scale(0.8);
      border-width: 2px;
    }
    80% {
      transform: scale(0.9);
      border-width: 2px;
    }
    90% {
      transform: scale(1);
      border-width: 2px;
    }
    100% {
      transform: scale(1);
      border-width: 2px;
    }
  } 
  
  nav.navicon:hover .navicon1 {
    margin-top: -4px;
    border: 2px solid #ff0000;
    border-radius: 50%;
    animation: grow 1s linear infinite;
    cursor: pointer;
  } */
  
}

/* 
@media screen and (max-width: 360px) {
  .menuE,
  .menuK{
    font-size: 40px;
  }
}
@media screen and (max-width: 310px) {
  .menuE,
  .menuK{
    font-size: 30px;
    top: 20px;
  } 
}*/

/*  */
.menu-horizontal > li a:hover, .menu-horizontal > li a:focus {
  background-color: #7c0000;
}

.menu-horizontal > li a {
  background-color: transparent;
}

@media screen and (max-width: 370px) {
  .menuK,
  .menuE{
    font-size: 45px;
  }
}

@media screen and (max-width: 370px) {
  .menuK,
  .menuE{
    font-size: 40px;
  }
}

@media screen and (max-width: 330px) {
  .menuK,
  .menuE{
    font-size: 35px;
  }
}