

/*MENU GERAL*/
.menu-horizontal { 
    position: fixed;
    z-index: 5;
    float: none;
    display: inline-block; 
    width:100%; 
    background-color:#5C6244; 
    border-radius:5px; 
    border-top: 5px #A4B792 solid;
    border-left: 1px #A4B792 solid;
    border-right: 1px #A4B792 solid;
    border-bottom: 1px #A4B792 solid;
    box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
    -webkit-box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
    -moz-box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
    text-align: center;
    position:fixed;
    top: 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

a.lineTop1, a.lineTop2{
  background-color: #5C6244;
}

#menu1 {
    z-index: 2;
    width:100%; 
    position:fixed;
    top: 0%;
    height: 100px;
    justify-content: center;
    align-items: center;
}
/*MENU GERAL*/

ul,li {
  float: none;
  display:flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;  
}

li {
  position: relative;
  width:100%;
  display:flow-root;
  overflow:hidden!important;
  border-bottom:1px #eaeaea solid;
  text-align: center; 
  justify-content: center;
  align-content: center;
}

li.right { float:right; }

li.right i{ 
     
    z-index:2;
    position:relative; 
    color:#ff9696;
    transition: 0.3s;
    
}

li:hover i{ 
      
    color:#ffffff;
}

.lineTop1 span { 
    display: flex;
    z-index:2; 
    position:relative; 
    color:#E6E7E2;
    font-weight: bold;
    transition: 0.3s;
    font-size: 15px;
    margin: 0 -20px; 
    justify-content: center;
    align-items: center;
   
}

.lineTop2 span { 
  display: flex;
  z-index:2; 
  position:relative; 
  color:#E6E7E2;
  font-weight: bold;
  transition: 0.3s;
  font-size: 15px;
  margin: 0 -20px; 
  justify-content: center;
  align-items: center;
}

/* cor fonte ao selecionar */
li:hover span{ 

    color:#2c0404; 
    transition: 0.3s;
    
}


.lineTop1 {
  display:flex;
  padding: 0 50px;
  line-height:50px;
  text-decoration: none;
  z-index:2;
  transition: background-color 2s ease;
  position:relative;
  justify-content: center;
  align-items: center;
  width:auto;
  height:auto;
}

.lineTop2 {
  display:flex;
  padding: 0 50px;
  line-height: 50px;
  text-decoration: none;
  z-index:2;
  transition: background-color 2s ease;
  position:relative;
  justify-content: center;
  align-items: center;
  width:auto;
  height:auto;
}


.lineTop1:after {
    
    content: '';
    position: absolute;
    top:0;
    left:0;
    display: flex;
    height:100%;
    width:0;
    text-align: center;
    background-color: #ff0000;
    transition: 0.3s;
    
  }

.lineTop2:after {
    
  content: '';
  position: absolute;
  top:0;
  left:0;
  display: flex;
  height:100%;
  width:0;
  text-align: center;
  background-color: #ff0000;
  transition: 0.3s;
  
}


li:hover .lineTop1:after {
  
  width:100%;
  background-color:#A4B792; 

}
li:hover .lineTop2:after {
  
  width:100%;
  background-color:#A4B792; 

}


/* PAG */
@media screen and (max-width: 767px) {
.lineTop2,
.lineTop1 {
  display: none;
}
.menu-horizontal{
  padding: 35px;
}

li {
  display: none;
}

}
/* PAG */

@media (min-width:48em){
.menu-horizontal { 
    background: #626945(255, 0, 0);
    
    background: linear-gradient(0deg, #5C6244(238,238,238,1) 7%, #5C6244(255,255,255,1) 50%);
}
li { 
  width:50%; 
  border-bottom:none; 
}
li.right .textRs { display:flex; justify-content: center;}

.lineTop1:after {

    content: '';
    position: absolute;
    top:0;
    left:0;
    display: block;
    height:0;
    width:100%;
    text-align: center;
    background-color: #A4B792;
    transition: 0.3s;
    
}

.lineTop2:after {
  
  content: '';
  position: absolute;
  top:0;
  left:0;
  display: block;
  height:0;
  width:100%;
  text-align: center;
  background-color: #A4B792;
  transition: 0.3s;

}


li:focus .lineTop1:after,
li:focus .lineTop2:after,
li:hover .lineTop1:after,
li:hover .lineTop2:after {
  height:100%;
  background-color:#A4B792; 
}
}
 /* seleção */

 .menu-horizontal li a.selected{
  background-color: #A4B792;
 }


 /* LOGO */
.ci {
  border-top: 20px #A4B792 solid;
  z-index: 7;
  border-radius: 50%;
  background-color: #E6E7E2;
  box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
  -webkit-box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
  -moz-box-shadow: -1px 11px 6px -10px rgba(0,0,0,0.42);
  border-top-style: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo{
  top: 50px;
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo1, .logo2 {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
}

.logo2{
  display: none;
}


                     

hr {
  border-top: 2px solid #ffffff00;
  margin: 0 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SANDUBA */

@media screen and (min-width: 767px) {
  .menuE,
  .menuK{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  @font-face {
    font-family: 'ALTA';
    src: url('caminho/para/o/arquivo-da-fonte.woff2') format('woff2'),
         url('caminho/para/o/arquivo-da-fonte.woff') format('woff');
    /* Outras propriedades opcionais, como font-weight e font-style, podem ser especificadas aqui */
  }

  .menuE,
  .menuK{
    top: 10px;
    color: #7c0000;
  }

  .menuE {
    position:absolute;
    right: 15px; 
    font-size: 50px;
    font-family: 'ALTA', sans-serif;
    color: #E6E7E2;
    /* background-color: #ffffff; */
  }
  
  .menuK {
    position: absolute;
    left: 15px;
    font-size: 50px;
    font-family: 'ALTA', sans-serif;
    /* background-color: #ffffff; */
    text-align: end;
    color: #E6E7E2;
  }

  /* NAVCON INICIO */

  nav.navicon {
    position: fixed;
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.87);
    -webkit-clip-path: circle(20px at 30px 30px);
    clip-path: circle(60px at 83px 40px);
    -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    z-index: 100;
    display: grid;
    left:50%;
    transform: translateX(-50%);
    top: 0;
    cursor: pointer;
  }

  nav.navicon.active {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-clip-path: circle(500px at 100px 80px);
    clip-path: circle(500px at 100px 80px);
  }

  a.nava {
    height: 50px;
    width: 100%;
    display: grid;
    line-height: 50px;
    padding: 0 8px;
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #5C6244;
    border-radius: 10px;
    border: 2px solid #A4B792;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #E6E7E2;
    text-decoration: none;
    text-align: center;
    position: relative;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    font-weight: bold;
  }

  a.nava:hover, a.nava:focus { 
    background: #A4B792; 
    border: 2px solid #5C6244; 
    color: #5C6244; 
    border-radius: 10px;
    font-weight: bold;
  }

  .navicon1{
    padding: 63px 55px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    margin-top: -10px;
  }

  

    /* NAVCON FIM */

  @keyframes flipside360 {
    0%,100% {
      transform: perspective(400px) rotateY(0deg);
    }
    50% {
      transform: perspective(400px) rotateY(180deg);
    }
    100% {
      transform: perspective(400px) rotateY(360deg);
    }
  }
  
  .logo {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: flipside360 15s infinite;

  }
  
  .logo1,
  .logo2 {
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    top: -50px;
  }
  
  .logo1 {
    transform: rotateY(0deg);
  }
  
  .logo2 {
    transform: rotateY(180deg);
  }
  

  
  
}

.menu-horizontal > li a:hover, .menu-horizontal > li a:focus {
  background-color: #7c0000;
}

.menu-horizontal > li a {
  background-color: transparent;
}

@media screen and (max-width: 370px) {
  .menuK,
  .menuE{
    font-size: 45px;
  }
}

@media screen and (max-width: 370px) {
  .menuK,
  .menuE{
    font-size: 40px;

  }
}

@media screen and (max-width: 330px) {
  .menuK,
  .menuE{
    font-size: 35px;
  }
}