* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#pix-message {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Efeito de esfumaçamento */
  border-radius: 20px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  z-index: 9999;
  position: relative;
  background-color: #5C6244;
  top: 50%;
  left: 50%;
  transform: translate(-50%); 
  width: 450px;
  margin-top: 20px;
}

.qrcodePresente {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Efeito de esfumaçamento */
  border-radius: 20px;
  background-color: white;
  margin: 10px;
  width: 90%;
  margin-top: 50px;
}

.FecharPixP  {
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  background-color: #00ff0d00;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  padding: 2px;
  font-weight: bold;
  font-size: 20px;
}

.FecharPixP:hover  {
  background-color: #bf6e3f00;
  color: rgb(255, 78, 78);
}

.TituloPIX {
    position: relative;
    font-size: 15px;
    top: 30px;
}

.mainbody {
  position: relative;
  min-height: calc(100vh - 90px); /* Ajuste 100px para a altura do seu rodapé */
  padding-bottom: 100px; /* Espaço para o rodapé */
  overflow: auto;
}

body {
  background-color: #FFF9F2;
}

body {
  opacity: 0;
  visibility: hidden;
  font-size: 100%;
}

body.fade-in {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.NomePresente {
  position: relative;
  width: 100%;
  top: 5px;
}

.divImgPres {
  /*   background-color: #5C6244; */
  width: 100%;
  position: relative;
  display: flex;
  /* Define o contêiner como flex */
  flex-direction: column;
  /* Alinha os itens em coluna */
  align-items: center;
  /* Centraliza horizontalmente */
  justify-content: center;
  /* Centraliza verticalmente */
  text-align: center;
  /* Centraliza o texto */
  left: 50%;
  transform: translate(-50%);
}

.ImgPres {
  border: #d5d8c8 solid 1px;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Efeito de esfumaçamento */
  min-width: 100px;
  max-width: 200px;
  height: 100px;
  /* Largura da imagem */
}

.carrinho {
  position: relative;
  background-color: #66BB22;
  justify-content: center;
  align-items: center;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  /* Adiciona espaço entre a imagem e o botão */
  left: 50%;
  transform: translate(-50%);
  width: 90px;
  border-radius: 20px;
}


.carrinho.pix {
  position: relative;
  background-color: #66BB22;
  justify-content: center;
  align-items: center;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  /* Adiciona espaço entre a imagem e o botão */
  left: 50%;
  transform: translate(-50%);
  width: 120px;
  border-radius: 20px;
}

.Carimg {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25px;
  height: 90%;
  margin: auto;
}

.Carimg.pix{
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25px;
  height: 85%;
  top: 2px;
  margin: auto;
}

.CarLink {
  color: white;
}

.CarLink.pix {
  color: white;
}

.CarLink1 {
  position: relative;
  nav-index: 99;
}

.CarLink:hover,
.carrinho:hover {
  cursor: pointer;
  background-color: #3fbf3f;
}


input {
  padding: 6px;
  width: 300px;
}

h3 {
  margin-top: 50px;
  text-align: center;
  font-family: 'Tan Twinkle', sans-serif;
  z-index: -1;
  margin-left: 2px;
}

.containerD1 {
  /* background-color: rgb(0, 255, 55); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centralizar verticalmente */
  align-items: center;
  /* Centralizar horizontalmente */
  border-radius: 0 0 20px 20px;
  margin: 10px auto;
  /* Adicionando margem automática para centralizar horizontalmente */
}

.containergeral {
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  width: 100%;
/*   height: 100%; */
/*   top: 50px; */
/*   bottom: 104px; */
/*   background-color: #3fbf3f; */
  left: 0;
}

.containerD {
  max-height: calc(100vh - 145px);  /* Altura limitada (100% da altura da tela menos 100px para o botão) */
  margin-top: 30px;
  top: 25px;
  z-index: 1;
  position: fixed;
  overflow: auto;
  width: 100%;
/*   height: 100%; */
/*   bottom: 50px; */
  font-family: 'Tan Twinkle', sans-serif;
/*   background-color: #ffffff; */
}

/* Estilo para a tabela de dados */
#data-table {
  z-index: 999;
  width: 100%;
}

/* Estilo para o cabeçalho da tabela */
#data-table thead {
  background-color: #5C6244;
  color: #ffffff;
  text-align: center;
  /* Centraliza o texto nas células */
}

/* Estilo para as células do cabeçalho */
#data-table th {
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  text-align: center;
  /* Centraliza o texto nas células */
  background-color: #5C6244;
  color: #ffffff;
  display: none;
}

/* 
span td {
  padding: 20px;
} */

/* Estilo para as células dos dados */
#data-table td {
  display: inline-block;
  width: 31%; /* Ajuste para 48% para caber 2 colunas */
/*   height: 100%; */
  margin-right: 1%; /* Espaçamento entre as células */
  margin-left: 1%;
  margin-bottom: 5px;
  box-sizing: border-box;
  position: relative;
  padding: 8px;
  border-spacing: 1px solid #000000;
  /* border-bottom: 1px solid #000000; */
  text-align: center;
  background-color: #d5d8c8;
  border-radius: 25px;
  /* Centraliza o texto nas células */
}

/* Estilo para as linhas alternadas */
#data-table tr:nth-child(even) {
  color: #ffffff;
  color: #000000;
}

#data-table tr:nth-child(odd) {
  color: #ffffff;
  color: #000000;
}

/* Estilo para o texto das células */
#data-table td span {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  left: 1px;
}

/* Estilo para a barra de rolagem interna */
.containerD::-webkit-scrollbar {
  width: 10px;
}

.containerD::-webkit-scrollbar-thumb {
  background-color: #353827;
}

.saved {
  background-color: #c1f0c1;
  /* Cor de fundo para linha salva */
  border: 2px solid #3fbf3f;
  /* Borda para linha salva */
}

.responsive-form2 {
  position: relative;
/*   display: grid; */
  grid-template-columns: auto auto;
  top: 10px;
  gap: 10px;
  align-items: center;
}

.name2 {
  position: relative;
  width: 20vw;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  /* margin-left: 10px; */
}

#submit {
 /*  left: 0px; */
  align-self: flex-end;
  padding: 5px;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 5px;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.btn1::after {
  content: 'Confirmar';
  font-weight: bold;
  margin-top: -15px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 10px;
  color: rgb(0, 102, 14);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}

.icon {
  width: 30px;
  height: 30px;
  transition: .2s linear;
}

.icon path {
  fill: rgb(0, 102, 14);
  transition: .2s linear;
}

.btn1:hover>.icon {
  transform: scale(1.2);
}

.btn1:hover>.icon path {
  fill: rgba(49, 235, 32, 0.849);
}

.btn1:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}


/* LOADING */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.containerContato{
  position: absolute;
  background-color: #3fbf3f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.container .preloader {
  z-index: 12;
  animation: rotate 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

.preloader span {
  --c: #A4B792;
  position: absolute;
  display: block;
  height: 64px;
  width: 64px;
  background: var(--c);
  border: 1px solid var(--c);
  border-radius: 100%;
}

.preloader span:nth-child(1) {
  transform: translate(-28px, -28px);
  animation: shape_1 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_1 {
  60% {
    transform: scale(0.4);
  }
}

.preloader span:nth-child(2) {
  transform: translate(28px, -28px);
  animation: shape_2 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_2 {
  40% {
    transform: scale(0.4);
  }
}

.preloader span:nth-child(3) {
  position: relative;
  border-radius: 0px;
  transform: scale(0.98) rotate(-45deg);
  animation: shape_3 2.3s cubic-bezier(0.75, 0, 0.5, 1) infinite;
}

@keyframes shape_3 {
  50% {
    border-radius: 100%;
    transform: scale(0.5) rotate(-45deg);
  }

  100% {
    transform: scale(0.98) rotate(-45deg);
  }
}

/* LOADING FIM */

/* ALERT */

span {
  position: relative;
  color: #E6E7E2;
  display: inline-block;
}

.justify {
  position: relative;
  text-align: center;
  display: inline-block;
  color: #E6E7E2;
  /* left: 20px; */
}


.btn {
  border-radius: 50%;
  background-color: rgb(0, 194, 0);
  border: solid 2px #000;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  width: 50px;
  height: 25px;
  justify-content: center;
  justify-self: center;
}

.btn:hover {
  background-color: #A4B792;
  border: solid 2px #2f3124;
  cursor: pointer;
}

.core {
  top: 0px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.card {
  z-index: 11;
  position: absolute;
  width: 350px;
  height: 130px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #5C6244;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  top: 25%;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.mt-2 {
  left: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo semi-transparente */
  z-index: 10;
  /* Fica acima de outros elementos */
}

.txtNOTF {
  position: relative;
  color: white;
  top: 5px;
  margin: 20px;
}

.container_notifi {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5C6244;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  /* Fica acima do overlay */
  text-align: center;
  /* Centraliza o texto */
}

#closeButton {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  position: absolute;
  /* Muda para absolute para que ele se posicione em relação ao contêiner pai */
  top: 0;
  /* Distância do topo do contêiner */
  right: 0;
  /* Distância da direita do contêiner */
  width: 20px;
  /* Largura do botão */
  height: 20px;
  /* Altura do botão (opcional) */
  background-color: #5c624400;
  /* Cor de fundo */
  color: rgb(255, 255, 255);
  /* Cor do texto */
  border-radius: 5px;
  /* Faz o botão ser redondo */
  cursor: pointer;
  /* Aponta que o botão é clicável */
  margin: 5px;
  padding: 2px;
}


#closeButton:hover {
  background-color: #8c9956;
  color: rgb(255, 0, 0);
  cursor: pointer;
}

@media (max-width: 860px) {
  h3 {
    margin-top: 55px;
  }
}

@media (max-width: 600px) {
  .container_notifi {
    width: 80%;
  }

  .containerD {
    max-height: calc(100vh - 135px);  /* Altura limitada (100% da altura da tela menos 100px para o botão) */
    margin-top: 20px;
/*     top: 25px; */
  }

  #data-table {
    top: 20px;
    width: 99%;
    border-collapse: collapse;
  }

  #data-table th,
  #data-table td {
    display: inline-block;
    width: 48%; /* Ajuste para 48% para caber 2 colunas */
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center; /* Centraliza o texto */
  }

  #data-table th {
    display: none; /* Oculta os cabeçalhos na versão responsiva */
  }

  #data-table td {
    padding: 8px;
    border-top: 0px solid #000000;
  }

  .name2 {
    position: relative;
    width: 80%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }

  .responsive-form2 {
    position: relative;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    width: 45vw;
  }
}

@media (max-width: 767px) {

  h3 {
    margin-top: 30px;
  }

  .containerD {
    max-height: calc(100vh - 135px);  /* Altura limitada (100% da altura da tela menos 100px para o botão) */
    margin-top: 52px;
    bottom: 92px;
/*     top: 25px; */
  }

}

@media (max-width: 513px) {
  h3 {
    margin-top: 30px;
  }

  .containerD {
    max-height: calc(100vh - 135px);  /* Altura limitada (100% da altura da tela menos 100px para o botão) */
    margin-top: 52px;
/*     bottom: -21px; */
/*     top: 25px; */
  }

  #data-table {
/*     top: 20px; */
    width: 99%;
    border-collapse: collapse;
  }

  #data-table th,
  #data-table td {
    display: block;
    width: 99%; /* Ajuste para 48% para caber 2 colunas */
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center; /* Centraliza o texto */
  }

  #data-table th {
    display: none; /* Oculta os cabeçalhos na versão responsiva */
  }

  #data-table td {
    padding: 8px;
    border-top: 0px solid #000000;
  }

  .name2 {
    position: relative;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
  }

  .responsive-form2 {
    position: relative;
    grid-template-columns: 1fr auto;
    gap: 10px;
    align-items: center;
    width: 80vw;
  }

  #pix-message {
    width: 80vw;
  } 

  .TituloPIX {
    position: relative;
    font-size: 11px;
    top: 30px;
  }

  .qrcodePresente {
    margin-top: 50px;
  }

}




