#countdown {
    color: #A4B792; /* Define a cor do texto */
    -webkit-text-stroke: 1.7px #252921; /* Define a espessura e a cor da borda */
    z-index: 1;
    font-size: 8vh;
    justify-content: center;
    text-align: center;
    margin-top: 75vh;
    display: grid;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

@media screen and (max-width: 480px){
  #countdown{
    top: -5vh;
    font-size: 10vw;
  }
}
