#countdown {
    color: rgb(87, 255, 82); /* Define a cor do texto */
    -webkit-text-stroke: 1.7px rgb(0, 0, 0); /* Define a espessura e a cor da borda */
    z-index: 2;
    font-size: 8vh;
    justify-content: center;
    text-align: center;
    margin-top: 75vh;
    margin-bottom: 20vh;
    display: grid;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@media screen and (max-width: 390px) {
    #countdown{
        top: -40px;
        font-size: 5vh;
      }
}

/* @media screen and (max-width: 294px) {
    #countdown{
        margin-top: 165%;
      }
} */