footer {
    background-color: #f2f2f2;
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 20;
    display: flex;
    flex: 1;
    /* border-top: 1px solid rgb(0, 0, 0); */
    box-shadow: 2px rgba(0, 0, 0, 0.342) solid;
    -webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,0.42);
    -moz-box-shadow: 0 0 10px 2px rgba(0,0,0,0.42);
  }
  
  .qrcode {
    position: relative;
    height: 5vw;
    display: flex;
    right: 0;
  }
  
  .container-rodape {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 1.5%;
    /* m-height: 20% ;  */
    /* Garante que o container ocupe pelo menos a altura total da tela */
  }
  
  footer p {
    margin: 0;
    left: 2px;
    font-size: 12px;
    flex: 1;
  }
  
  
  @media screen and (max-width: 768px) {
    footer p {
      font-size: 80%;
    }
  }
  
  @media screen and (max-width: 490px) {
    footer p {
      top: -20px;
      margin: 0;
      left: 2px;
    }
    .rodape-text {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 375px) {
    footer {
      padding: 5px;
    }
    footer p {
      top: -20px;
      font-size: 75%;
      margin-left: 0;
    }
  }
  
/*   .pix1 {
    display:flex;
    text-align: center;
    margin-top: 13%;
    margin-right: 10px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 75%; 
    flex: 1;
    position:sticky;
  } */